{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{%block title %}{%endblock%}</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/reset.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">
        {% block js %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
	{% endblock %}
</head>
	<body>
	 
	<div class="header_con">
		<Div class="header">
			<div class="welcome fl">welcome to zria's bookstore!</div>
			<div class="fr">
			      {% if request.session.islogin %}
				<div class="login_btn fl">
				  欢迎您：<em>{{request.session.username}}</em>
                                  <span>|</span>
				  <a href="{% url 'users:logout' %}">logout</a>
				</div>
				{% else %}
				<div class="login_btn fl">
					<a href="{% url 'users:login' %}">登录</a>
					<span>|</span>
					<a href="{% url 'users:register'%}">注册</a>
				</div>
				{% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'users:user' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'cart:show' %}">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>		
	</div>
	{% block shopping_cart %}
        	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="{% static 'images/logo.png' %}" style="width: 160px; height: 53px;"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'cart:show' %}" class="cart_name fl">我的购物车</a>
			<div id="show_count" class="book_count fl">0</div>
		</div>
 	</div>	
	{% endblock %}
{% block content%}
{% endblock%}

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2018 Galaxy Network Co., Ltd. All Rights Reserved</p>
		<p>电话：010-6666888    京ICP备*******8号</p>
	</div>
	<div class="add_jump"></div>
	{% block script %}
         <script type="text/javascript">
           $.get('/cart/count/', function(data){
	   $('#show_count').html(data.res)

	   })

	</script>
	{% endblock %}
</body>
</html>
