{%load staticfiles%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>zria's bookstore login</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
	<div class="login_top clearfix">
		<a href="{% url 'books:index' %}" class="login_logo"><img src="{% static 'images/logo.png' %}" style="width: 160px; height: 53px;"></a>	
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">Y C F T B Y W I H</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="{% url 'users:register'%}">立即注册</a>
				</div>
				<div class="form_input">
					<form id="app">
                                         
						<input type="text" name="username" class="name_input" value="{{username}}" placeholder="请输入用户名">
						<div class="user_error">输入错误</div>
						<input type="password" name="password" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remember" {{checked}}>
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input  id="submit"  type="button" name="" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
					</div>

	
					



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2018 Galaxy Network Co., Ltd. All Rights Reserved</p>
		<p>电话：010-6666888    京ICP备*******8号</p>
	</div>
	<div class="add_jump"></div>


	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京尚硅谷信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
<!--<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script> -->
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script>
  document.cookie="csrftoken=w87CzYN4N4ka3wYCH7stl8vAHUJmjn0J"
  $(function(){
      $("#submit").click(function(){
           var username = $('input[name="username"]').val();
           var password = $('input[name="password"]').val();
           var remember = $('input[name="remember"]').prop('checked');
  //          var csrfmiddletoken = $('input[name="csrfmiddlewaretoken"]').val();
           $ .ajax({
               url:'{% url "users:login_check" %}',
               method : 'post',
               data:{
                    username: username,
                    password: password,
                    remember: remember,  
                    csrfmiddlewaretoken:'FeN5AZfB7aLjSSdTJSyaqEl0rBsgt80',
                },
                success: function(callback){
                             if(callback.res == 1){
                               window.location.href = callback.next_url;

                         }else if(callback.res ==2){
                               alert('data not enough');
                               password = $('input[name="password"]').val('')
                      } else if (callback.res == 0 ){
                          alert('usernam or password misstake')
                      }
           }
            })  
        });
   return false;
  })

</script>
</body>
</html>
